<div align="center">
<footer>
  <br>
  <li><%= year_current %></li>
  <li><%= github_url('N1ghtcr4wl33r', 'TestGuru') %></li>
  <li>This project is for creating, managing and executing various tests</li>
  <a href="http://thinknetica.com">Учебный проект в онлайн-школе Thinknetica </a>
</footer>