<p> 
  <strong>Answers for question:</strong>
  <%= @question.body %>
</p>
<table>
  <tr>
    <th>Answer</th>
  </tr>
  <%= render @question.answers %>
</table>
<p>
<%= link_to 'New answer', new_question_answer_path %>
</p>
<p>
<%= link_to 'Back', question_path(@question) %>
</p>
